[submodule "AlphaPose"]
	path = AlphaPose
	url = https://github.com/root-master/AlphaPose
	branch = pytorch
[submodule "tf-pose-estimation"]
	path = tf-pose-estimation
	url = https://github.com/root-master/tf-pose-estimation
